body
{
    background-color: rgb(10, 10, 10);
}

.stuff
{
    position: relative;
    box-sizing: border-box;
    
    width: min(1200px, 100%);
    margin: auto;
    padding: 20px;

    font-family: "Sometype Mono", monospace;
    color: whitesmoke;

}

.highlight
{
    font-weight: 700;
    color: #17a32b;
}

.intro
{
    width: 100%;
}

.content
{
    width: 100%;
    margin: auto;
    position: relative;
}

.container
{
    display: grid;
    grid-template-columns: 10px;
    justify-content: center;
    text-align: center;
}

.item
{
    border: 2px solid #17a32b;
    
}